{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Andy McDonald | Petrophysicist / Geoscientist</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" media="screen and (max-width: 768px)" href="{% static 'css/mobile.css' %}">
</head>

<body>
  <header>
    <nav id="navbar">
      <div class="container">
        <h1 class="site-header">Andy McDonald</h1>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#">About Me</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="{% url 'allblogs' %}">Blog</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a class="current" href="{% url 'publications' %}">Publications</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <h1 class="page-heading">Publications</h1>

    <section id="publications">
      {% for publication in publications.all %}

      <h2>{{ publication.publication_date_short }}</h2>
      
      <p class="pub-title"><a href="{{ publication.pub_doi }}">{{ publication.pub_title }}</b> </a></p>
      <p class="pub-authors">{{ publication.authors }}</p>
      <p class="pub-details"><span class="pub-type">{{ publication.pub_type }}</span>{{ publication.pub_body}}</p>
      
      <div class="heading-underline"></div>

      {% endfor %}

  </div>
  </section>


  <footer id="main-footer">
    <p>Feel free to check out my Github and LinkedIn pages or drop me an email.</p>
    <div class="social-links">
      <i class="fab fa-github fa-2x"></i>
      <i class="fab fa-linkedin fa-2x"></i>
      <i class="fab fa-researchgate fa-2x"></i>
      <i class="fas fa-envelope fa-2x"></i>
    </div>
    <p>© Andy McDonald {% now "Y" %}</p>
  </footer>
</body>

</html>