* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.7em;
    color: #232323;
}

a {
    color: #333333;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

h2, h3 {
    padding-bottom: 20px;
}

/* Utility Classes */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.heading-underline {
    background-color: #dfdfdf;
    height: 2px;
    width: 100px;
    margin: 20px auto;
}

.page-heading {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.section-heading {
    padding-bottom: 10px;
    padding-top: 50px;
    text-align: center;
}

.bg-color {
    background: #f5f5f5;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #333333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #00566d;
    color: #fff;
}

.boxes {
    padding: 20px 0;
}

/* Flex items */
.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.flex-items > div {
    padding: 20px;
}


.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1, 
.flex-columns .column .column-2 {
    height: 100%;
    text-align: center;
} 

.flex-columns img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

/* Navigation Menu */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #333333;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    /* border-bottom: #dfdfdf 1px solid; */
}

#navbar h1 {
    /* padding-top: 20px; */
}

#navbar ul {
    display: flex;
    list-style: none;
    font-size: 14px;
}

/* #navbar ul li {
    float: left;
} */

#navbar ul li a {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

#navbar ul li a:hover{
    color: #00566d;
}

#navbar ul li a::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #00566d;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.6s ease-in-out 0s;
}


#navbar ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#navbar ul li a.current  {
    border-bottom: #00566d 2px solid;
}
/* Main Image */
.hero {
    background: url('/static/quiraing.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.hero * {
    z-index: 10;
}


/* About Me Section */
#about-me {
    padding-top: 50px;
}

#about-me .about-left {
    float: left;
    width: 70%;
    text-align: center;
    padding-right: 50px;
}

#about-me .about-right {
    display: block;
    float: right;
    width: 30%;
    padding: 20px;
}

#about-me .about-right img {
    border-radius: 50%;
}

/* Skills Section */
#skills .skills-left {
    float: left;
    width: 50%;
    text-align: center;
}

#skills .skills-right {
    display: block;
    float: right;
    width: 50%;
    text-align: center;
}

#skills ul {
    list-style: none;
}

/* Contact Form */
#contact {
    text-align: center;
}

#contact .form-group {
    margin-bottom: 20px;
}

#contact label {
    display: block;
    margin-bottom: 5px;
}

#contact input, #contact textarea {
    width: 80%;
    padding: 10px;
    border: 1px #dfdfdf solid;
    font-size: 14px;
}

#contact textarea {
    height: 200px;
}

#contact input:focus, #contact textarea:focus {
    outline: none;
    border-color: #00566d;
}

/* Publications */

#publications .pub-title {
    font-weight: bold;
    margin: 0;
    padding: 0;
}



#publications .pub-type {
    padding: 5px;
    margin-right: 10px;
    background-color: darkblue;
    color: white;
    font-size: 14px;
    
}

#publications .pub-authors {
    font-size: 14px;
    margin: 0;
}
#publications .pub-details {
    font-size: 14px;
}

/* Footer */
#main-footer {
    color: #fff;
    background-color: #333333;
    height: 175px;
    text-align: center;
    padding: 20px;
    /* margin-top: 50px; */
    font-size: 14px;
}

.fab, .fas {
    opacity: 0.7;
    padding: 10px;
}

.fab:hover, .fas:hover {
    opacity: 1;
}