{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Andy McDonald</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Andy McDonald</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown" ml-auto>
              <ul class="navbar-nav ml-auto" >
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'publications' %}">Publications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'allblogs' %}">Blog</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <h1>TEST</h1>
<main role="main">
  
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Hi, I'm Andy</h1>
      <p class="lead text-muted">Hey, welcome to my new home page. I'm Andy and I am just starting to learn Django</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Contact Me</a>
      </p>
      <img src="{% static 'andy.jpg' %}" alt="" height="300" width="300">
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        {% for job in jobs.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{{ job.image.url }}" />
            <div class="card-body">
              <p class="card-text">{{ job.summary }}</p>
              
            </div>
          </div>
        </div>
        {% endfor %}
        
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container text-center">
    <p>© Andy McDonald {% now "Y" %}</p>
  </div>
</footer>

</html>

